@page "{id:Guid}"
@model ADVprogramming_ass2.Pages.Item_Sale_pageModel
@{
}
<p><strong>Test of data transfer</strong> @Model.Items.Item_Name</p>
<input type="hidden" asp-for="Items.Item_Id" />
<div class="form-group">
    <label for="Items_buy_amount">How much do you want to buy?</label>
    <input asp-for="AMTSold" class="form-control" />
</div>
<button type="submit" class="btn btn-primary">Buy Item</button>