@page
@model ADVprogramming_ass2.Pages.Shop_pageModel
@{
}
@foreach (var Item in Model.Items)
{
    <div class="card">
        <div class="card-header">
            @Item.Item_Name
        </div>
        <div class="card-body">
            <p class="card-text">@Item.Item_description</p>
            <p><a asp-page="/Item_Sale_Page" class="btn btn-primary" asp-route-id ="@Item.Item_Id">Buy Now</a> £@Item.Price_Pound</p>
        </div>
    </div>
}
