@page
@model ADVprogramming_ass2.Pages.SignupModel
@{
    ViewData["Title"] = "Database page";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/site.css">
<div class="text-center">
    <p>Bonjour</p>
</div>
<div class="container border p-5">
    <form method="post">
        
        <!--Username-->
        <div class="form-group row">
            <div class="col-4">
                <label>Username:</label>
            </div>
            <div class="col-8">
                <input asp-for="NewUser.User_Name" class="form-control" />
            </div>
        </div>

        <!--UserEmail-->
        <div class="form-group row">
            <div class="col-4">
                <label>E-mail address:</label>
            </div>
            <div class="col-8">
                <input asp-for="NewUser.User_Email" class="form-control" />
            </div>
        </div>
        <!--User_age-->
        <div class="form-group row">
            <div class="col-4">
                <label>Age:</label>
            </div>
            <div class="col-8">
                <input asp-for="NewUser.Use_Age" class="form-control" />
            </div>
        </div>
        <!--Loyalty Card-->
        <div class="form-group row">
            <div class="col-4">
                <label>Loyalty card?:</label>
            </div>
            <div class="col-8">
                <input type="checkbox" asp-for="NewUser.Loyalty_Card"/>
            </div>
        </div>
        <!--Administrator-->
        <div class="form-group row">
            <div class="col-4">
                <label>Employee?:</label>
            </div>
            <div class="col-8">
                <input type="checkbox" asp-for="NewUser.Staff_Member" />
            </div>
        </div>
        <!--Buton-->
        <div class="form-group row">
            <div class="col">
                <button type="submit" class="btn btn-block btn-secondary">Create user</button>
            </div>
        </div>
    </form>
</div>