@page
@model ADVprogramming_ass2.Pages.Graphs.Data_PageModel
@{
}
<div>
    <canvas id="tasksGraph"></canvas>
</div>

@section Scripts{

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        var ctx = document.getElementById('tasksGraph').getContext('2d');
        var tasksData = @Html.Raw(Model.TasksJson);
        var tasksGraph = new Chart(ctx, {
        type: 'bar',
        data: {
                labels: tasksData.map(t => t.Quantity_Sold),
                datasets: [{
                    label: 'Amount Sold',
                    data: tasksData.map(t => t.QuantSold),
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                } ]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    </script>
}